@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
.App {
  font-family: "Gowun Dodum", sans-serif;
}

button {
  font-family: "Gowun Dodum", sans-serif;
}

.WhiteButton button {
  width: 120px;
  height: 38px;

  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: white;

  font-size: 14px;
  font-weight: bold;
}
.WhiteButton button:active {
  box-shadow: none;
}
.MyButton button {
  margin-top: 30px;
  height: 50px;
  background-color: #161616;
  color: white;

  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

  font-size: 14px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.MyButton button:active {
  box-shadow: none;
}
.MyButton span {
  padding: 0 8px;
}

input {
  font-family: "Gowun Dodum", sans-serif;
}
select {
  font-family: "Gowun Dodum", sans-serif;
}
div {
  font-family: "Gowun Dodum", sans-serif;
}
textarea {
  font-family: "Gowun Dodum", sans-serif;
}
/* table 전체 설정 */
table {
  width: 100%;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: 1px solid black;
  border-top: 3px solid black;
}
table thead th {
  padding: 15px 0;
}

.mypage_all_h2 {
  margin-left: 40px;
  margin-top: 50px;
  letter-spacing: 2px;
}

/* HEADER */
.MyHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;

  height: 125px;
  padding: 0 30px 0 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: white;

  font-family: "Gowun Dodum", sans-serif;
}
.MyHeader > div {
  display: flex;
}
.head_title {
  width: 20%;
  justify-content: start;
}
.head_search {
  margin-top: 20px;
  width: 60%;
  justify-content: center;
}
.head_search_box {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  /* padding-bottom: 5px; */
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head_search_box input {
  margin-left: 10px;
  border: none;
  font-size: 16px;
  width: 100%;
  font-family: "Gowun Dodum", sans-serif;
}
.head_search_box input:focus {
  outline: none;
}
.head_search_box input:focus::placeholder {
  color: transparent;
}
.head_search_box button {
  border: none;
  background-color: white;
  cursor: pointer;
}
.head_menu {
  width: 20%;
  justify-content: end;
}
.head_menu ul {
  display: flex;
  margin: 30px 0;
}
.head_menu li {
  width: 70px;
  list-style-type: none;
  padding: 5px 0;
  text-align: center;
}
.head_menu a {
  display: grid;
  place-items: center;

  font-size: 14px;
  text-decoration: none;
  color: black;
}

/* Home_Middle*/
/* @keyframes middle-ani {
  0% {
    transform: translate(1000px, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(50px, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(15px, 0);
  }
  95% {
    transform: translate(0, 0);
  }
  97% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
} */

/* Home */
.Home_img {
  margin-top: 125px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
}
.middle .Home_img img {
  width: 100%;
  height: 1000px;
}

/* MENU */
/* @keyframes menu-ani {
  0% {
    transform: translate(-400px, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(-50px, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(-15px, 0);
  }
  95% {
    transform: translate(0, 0);
  }
  97% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
} */
.Menu {
  position: fixed;
  top: 126px;
  left: 0;

  float: inline-start;
  z-index: 10;
  /* animation: menu-ani 1.3s ease forwards; */
  width: 100%;
}
.Menu .containor {
  border-bottom: 1px solid black;
  background-color: #fff;
  padding: 10px;
}
.Menu ul {
  margin: 0;
}
.Menu ul li {
  margin: 0 50px;
  list-style-type: none;
}
.Menu ul li a {
  text-decoration-line: none;
  color: black;
}

.Menu li button {
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
.Menu li button.click {
}

.Menu .menu_main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

/* MenuList */
.MenuList {
  background-color: rgba(255, 255, 255, 0.6);
}
.MenuList nav {
  padding: 20px;
}
.MenuList nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.MenuList nav ul li.title {
  font-weight: bold;
}
.MenuList nav ul li {
  margin: 5px 0;
  list-style-type: none;
  width: 100px;
}

/* FOOTER */
.MyFooter {
  position: relative;
  height: 0px;
  width: 100%;
}
footer {
  /* position: absolute;
  top: auto;
  left: 0; */

  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
footer div {
  width: 20%;
  padding: 10px;
}
footer .foot_3 p {
  font-size: 14px;
}
footer .foot_4 select {
  width: 70%;
  cursor: pointer;
}

/* ITEM */
.Item {
}
/* .Item .itemlist {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1360px;
  margin-bottom: 300px;
} */

/* ITEMLIST */

.ItemList {
}

/* ItemItem */
.ItemItem {
  float: left;
  margin: 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  cursor: pointer;
}
.ItemItem a {
  color: black;
  text-decoration: none;
}
.ItemItem img {
  width: 300px;
  height: 350px;
}
.ItemItem .box_content {
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.ItemItem .name {
  margin-top: 10px;
  margin-bottom: 15px;
}
.ItemItem .price {
  margin-bottom: 10px;
}
.ItemItem .price {
  font-size: 19px;
}
.ItemItem .price span {
  margin-right: 15px;
}
.ItemItem .price .sale_price {
  font-weight: bold;
}
.ItemItem .price .sale {
  font-size: 20px;
  color: red;
}
.ItemItem .price .regular_price {
  font-size: 16px;
  color: rgb(160, 160, 160);
  text-decoration: line-through;
}
.ItemItem .payment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ItemItem .payment div {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

/* ControlMenu */
.ControlMenu {
  display: flex;
  justify-content: flex-end;
}
.ControlMenu select {
  font-size: 14px;
  padding: 5px 10px;
}
.ControlMenu option {
  font-size: 14px;
}

/* LoginHeader */
.LoginHeader {
  height: 125px;
  padding: 0 50px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid black;
}

.LoginHeader > div {
  display: flex;
}
.LoginHeader .login_title {
  width: 60%;
  font-size: 20px;
  justify-content: center;
}
.LoginHeader .login_back {
  width: 20%;
  justify-content: start;
}
.LoginHeader .login_home {
  width: 20%;
  justify-content: end;
}
.LoginHeader button {
  border: none;
  background-color: white;
}

/* Login */
.Login {
}
.login_content {
  max-width: 500px;
  margin: 50px auto;
  padding: 50px 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login_box {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px 20px;

  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.login_box input {
  margin-left: 5px;
  padding: 10px;
  border: none;

  font-size: 16px;
}
.login_box input:focus {
  outline: none;
}
.login_box input:focus::placeholder {
  color: transparent;
}
.login_content button {
  margin-top: 30px;
  padding: 15px 0;
  background-color: #161616;
  color: white;

  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  font-size: 16px;
  margin-bottom: 10px;
}
.login_content button:active {
  box-shadow: none;
}
.login_search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_search span {
  padding: 0 20px;
}
.login_search a {
  color: #161616;
  text-decoration: none;
  font-weight: bold;
}

/* FindPw */
.login_content .findid_text {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_content .findid_text a {
  margin-left: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* SignUp */
.SignUp {
}
.signup_content {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signup_title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input:focus::placeholder {
  color: transparent;
}
.pw_error {
  color: rgb(255, 25, 25);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
.signup_content .greenbutton {
  background-color: rgb(114, 184, 108);
  color: rgb(253, 255, 233);

  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  font-size: 14px;
  margin-bottom: 10px;
}
.signup_content .greenbutton:active {
  box-shadow: none;
}
.signup_content span {
  padding: 0 8px;
}
.signup_content select {
  padding: 7px;
}
.signup_content label {
  padding-right: 30px;
}
/* MyPage */
.Mypage {
}
/* .mypage_content {
  position: relative;
  top: 220px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1300px;
  margin-bottom: 300px;
} */
.mypage_menu ul {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
.mypage_menu li {
  width: 215px;
  height: 40px;

  letter-spacing: 1px;

  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 12px 12px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eee;
  cursor: pointer;
}

.mypage_menu li.click {
  background-color: white;
  font-weight: bold;
}
.mypage_menu a {
  color: black;
  text-decoration: none;
}

/* UserGrade */
.UserGrade {
}
.usergrade_content {
  border: 1px solid #ddd;
  height: 200px;

  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.usergrade_title {
  width: 35%;
  padding: 30px;

  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.usergrade_title img {
  width: 80px;
}
.title_content {
  margin-left: 25px;
}
.title_content a {
  padding-left: 10px;
  color: gray;
  font-size: 13px;
  text-decoration: none;
}
.title_content strong {
  padding-right: 5px;
  font-size: 22px;
}
.usergrade_sub {
  width: 65%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.usergrade_sub a {
  width: 100%;
  height: 100%;

  border-left: 1px solid #ccc;
  color: white;
  text-decoration: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

.usergrade_sub .icon {
  padding-top: 30px;
  text-align: center;
}
.usergrade_sub .contnet {
  text-align: center;
  font-size: 18px;
}
.usergrade_sub .numbers {
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
}

/* 주문내역 */
/* OrderHistory */
.OrderHistory {
  margin: 0 auto;
}

.OrderHistory .lookup_box {
  width: 100%;
  border: 1px solid #161616;
  border-radius: 10px;
}

/* DatePickerSelector */
.DatePickerSelector {
}
.DatePickerSelector .content {
  width: 100%;
  height: 80px;

  border-bottom: 1px solid #161616;

  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.DatePickerSelector .content .title {
  font-weight: bold;
  padding: 120px;
  text-align: center;
}
.DatePickerSelector .search {
  margin-left: 30px;
  padding: 5px 20px;

  color: white;
  background-color: rgb(134, 192, 231);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;

  font-size: 15px;
  cursor: pointer;
}
.DatePickerSelector button:active {
  box-shadow: none;
}

/* PeriodSelector */
.PeriodSelector {
}
.PeriodSelector .content {
  width: 100%;
  height: 80px;

  border-bottom: 1px solid #161616;

  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.PeriodSelector .content .title {
  font-weight: bold;
  padding: 120px;
  text-align: center;
}
.PeriodSelector label {
  padding-right: 40px;
}
.PeriodSelector label input {
  margin-right: 10px;
}

/* ListTable */
.ListTable {
  margin: 50px auto;
}
.ListTable table thead {
}
.ListTable .iteminfo {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start; /* start */
  align-items: center;
}
.ListTable .iteminfo ul {
  margin: 0;
  padding-left: 20px;
}
.ListTable .iteminfo ul li {
  margin: 0;
  list-style-type: none;
}
.ListTable table tbody tr {
  border-bottom: 1px solid #eee;
}

/* 배송지 관리 */
/* Delivery */
.Delivery {
  margin: 0 auto;
}
.Delivery .signup_content {
  margin: 50px;
  padding: 0;
  border: none;
  box-shadow: none;
}
.del_h2 {
  margin: 0;
}
.Delivery_icon ul {
  padding: 0;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Delivery_icon li {
  width: 100px;
  height: 80px;
  padding-top: 5px;
  margin: 0 30px;

  list-style-type: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: grid;
  justify-content: center;
  align-items: center;
}
.Delivery_icon .click {
  background-color: #161616;
  color: white;
}
.Delivery_icon li.click svg {
  stroke: white;
}

/* .Delivery_icon li:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} */
.Delivery_icon .icon {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Delivery_icon p {
  text-align: center;
}
.DeliveryFrom .signup_content {
  margin: 0;
  padding: 0 0 0 40px;
  border: none;
  box-shadow: none;
}
.Delivery .button_add button {
  margin-left: 565px;
  margin-bottom: 30px;
  padding: 8px 30px;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #161616;

  color: white;
  font-size: 16px;
}
.Delivery .button_add button:active {
  box-shadow: none;
}
.DeliveryTable table tbody td {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/* 회원정보 수정 */
.EditInfo {
  margin: 0 auto;
}

.EditInfo .line {
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}
.editinfo_content {
}
.editinfo_content table th {
  padding: 30px 0;
  text-align: start;
}
.editinfo_content table td {
}
.editinfo_content table tbody tr {
  border-bottom: 1px solid #eee;
}
.editinfo_content p {
  font-size: 13px;
}

/* EditPassword */
.EditPassword {
}
.EditPassword .editPassword_content {
  margin-top: 30px;
}
.EditPassword .signup_title {
  font-weight: lighter;
}
.EditPassword button {
  margin-left: 40px;
  width: 80px;
  height: 35px;
}

/* EditeMail */
.EditeMail {
}
.EditeMail .box {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.EditeMail .box input {
  padding: 8px;
  width: 225px;
  height: 19px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.EditInfo .button_warpper {
  display: flex;
  margin-bottom: 30px;
}
.EditeMail button {
  margin-left: 40px;
  width: 80px;
  height: 35px;
}

/* 적립금 */
.Point {
  margin: 0 auto;
  font-weight: lighter;
}
.Point .lookup_box {
  width: 100%;
  border: 1px solid #161616;
  border-radius: 10px;
}
.Point table tbody tr {
  border-bottom: 1px solid #eee;
}
.Point ul li {
  margin: 0;
  list-style-type: none;
}
.Point .iteminfo {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.pointtable {
  margin: 50px auto;
}

/* Review */
.Review .review_menu ul {
  margin: 0;
  padding: 0;

  background-color: #ececec;
  letter-spacing: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Review .review_menu ul li {
  width: 100%;
  padding: 10px;
  border-bottom: none;
  list-style-type: none;
  border-top: 5px solid #ececec;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}
.Review .review_menu ul li.clicked {
  border: 1px solid #999999;
  border-top: 5px solid #999999;
  background-color: white;
  border-bottom: none;
  font-weight: bold;
}

.ReviewWrite {
}
.ReviewWrite h2 {
  text-align: center;
  margin: 50px;
}
.ReviewWrite .iteminfo {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.ReviewWrite ul li {
  margin: 0;
  list-style-type: none;
}
.ReviewWrite table tbody tr {
  border-bottom: 1px solid #eee;
}

.ReviewMine {
}
.ReviewMine h2 {
  text-align: center;
  margin: 50px;
}
.ReviewMine .iteminfo {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.ReviewMine ul li {
  margin: 0;
  list-style-type: none;
}
.ReviewMine table tbody tr {
  border-bottom: 1px solid #eee;
}
.ReviewMine .button_warpper {
  display: flex;
  justify-content: center;
}

/* ReviewWrite */
.ReviewWrite {
}
.ReviewWriteBox .item_warpper {
  padding: 5px 0;
  border-top: 3px solid #161616;
  border-bottom: 1px solid #161616;

  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start; /*start*/
  align-items: center;
}
.ReviewWriteBox .item_warpper .item_name {
  padding-left: 30px;
}
.ReviewWriteBox h2 {
  margin-left: 20px;
}

.ReviewWriteBox .stars_warpper {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px dashed #ccc;
}
.ReviewWriteBox .stars_warpper .stars {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ReviewWriteBox .stars_warpper .stars div {
  padding: 0 3px;
}
.ReviewWriteBox .content_warpper {
  padding: 20px 0;
  text-align: center;
}
.ReviewWriteBox textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-top: 10px;

  border: 1px solid #dbdbdb;
  resize: none; /* 크기 조절*/
  border-radius: 5px;
  font-size: 15px;
}
.ReviewWriteBox textarea:focus {
  border: 1px solid #ff8a8a;
  outline: none;
}
.ReviewWriteBox .button_warpper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.ReviewWriteBox button {
  margin-top: 0;
  font-size: 14px;
  width: 120px;
  height: 38px;
}
.ReviewWriteBox button:active {
  box-shadow: none;
}

.ReviewLookBox {
}
.ReviewLookBox .item_warpper {
  padding: 5px 0;
  border-top: 3px solid #161616;
  border-bottom: 1px solid #161616;

  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ReviewLookBox .item_warpper .item_name {
  padding-left: 30px;
  height: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.ReviewLookBox .stars {
  margin-top: 30px;
  margin-right: 10px;
  text-align: end;
}

/* New */
.New {
}
.New .new_content {
  position: relative;
  top: 220px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1300px;
  margin-bottom: 300px;
}

/* .Container {
  position: relative;
  top: 220px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1360px;
  margin-bottom: 300px;
} */
/* .Item .itemlist {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1360px;
  margin-bottom: 300px;
} */

.Detail {
}
.Detail .detail_content {
}
