@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Caveat&display=swap");
.App {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* HEADER */
header {
  padding: 0 100px 0 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
header > div {
  display: flex;
}
header .head_title {
  width: 30%;
  justify-content: start;
}
header .head_search {
  padding-top: 50px;
  width: 70%;
  justify-content: end;
}
header .head_title h1 {
  height: 60px;
  font-family: "Caveat", cursive;
  font-size: 60px;
  cursor: pointer;
  font-weight: bolder;
}
header .head_title h1 a {
  text-decoration-line: none;
  color: black;
}

header .head_search button {
  border: none;
  cursor: pointer;
}
header .head_search input {
  width: 70%;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  padding: 10px 10px;
}
header .head_search input:focus {
  outline: none;
}

/* Home_Middle*/
@keyframes middle-ani {
  0% {
    transform: translate(1000px, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(50px, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(15px, 0);
  }
  95% {
    transform: translate(0, 0);
  }
  97% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.Home_img {
  animation: middle-ani 1.3s ease forwards;
  display: flex;
}
.middle .Home_img img {
  width: 50%;
  height: 1000px;
}

/* MENU */
@keyframes menu-ani {
  0% {
    transform: translate(-400px, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(-50px, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(-15px, 0);
  }
  95% {
    transform: translate(0, 0);
  }
  97% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.Menu {
  background-color: #ececec;
  animation: menu-ani 1.3s ease forwards;

  float: left;
  width: 400px;
  height: 2000px;
}
.Menu ul li {
  padding-top: 10px;
  list-style-type: none;
}
.Menu ul li a {
  text-decoration-line: none;
  color: black;
}
.Menu .menu_main {
  width: 240px;
  font-size: 40px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.Menu .menu_sub {
  font-size: 30px;
  padding-top: 15px;
}

/* FOOTER */
footer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
footer div {
  width: 20%;
  padding: 10px;
}
footer .foot_3 p {
  font-size: 14px;
}
footer .foot_4 select {
  width: 70%;
  font-family: "Barlow Semi Condensed", sans-serif;
  cursor: pointer;
}

/* ITEM */
.Item {
}

/* ITEMLIST */
.ItemList {
  height: 2000px;
}

.ItemList .item_dummy {
  padding-right: 50px;
}
.ItemList .ControlMenu {
  justify-content: end;
}

/* ItemItem */
.ItemItem {
  float: left;
}
.ItemItem .box_img {
}
.ItemItem .box_img img {
  width: 400px;
  height: 500px;
}
.ItemItem .box_content {
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 70px;
}
.ItemItem .box_content .price strong {
  padding: 0 5px;
  font-size: 20px;
}
.ItemItem .box_content .price span.sale {
  padding: 0 5px;
  font-size: 20px;
  color: red;
}
.ItemItem .box_content .price span.regular_price {
  padding: 0 5px;
  color: rgb(102, 102, 102);
  text-decoration: line-through;
}

/* ControlMenu */

.ControlMenu {
  display: flex;
  padding-right: 10%;
}
.ControlMenu select {
  font-size: 14px;
  padding: 5px 10px;
}
.ControlMenu option {
  font-size: 14px;
}

/* LoginHeader */
.LoginHeader {
  padding: 20px 50px;
  display: flex;
  align-items: center;
}

.LoginHeader > div {
  display: flex;
}
.LoginHeader .login_title {
  width: 60%;
  font-size: 20px;
  justify-content: center;
}
.LoginHeader .login_back {
  width: 20%;
  justify-content: start;
}
.LoginHeader .login_home {
  width: 20%;
  justify-content: end;
}
.LoginHeader button {
  border: none;
  background-color: white;
}

/* Login */
.Login {
}
.login_content {
  max-width: 500px;
  margin: 50px auto;
  padding: 50px 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login_box {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px 20px;

  display: flex;
  justify-content: start;
  align-items: center;
}
.login_box input {
  margin-left: 5px;
  padding: 10px;
  border: none;

  font-size: 16px;
}
.login_box input:focus {
  outline: none;
}
.login_box input:focus::placeholder {
  color: transparent;
}
.login_content button {
  margin-top: 30px;
  padding: 15px 0;
  background-color: #161616;
  color: white;

  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  font-size: 16px;
  margin-bottom: 10px;
}
.login_content button:active {
  box-shadow: none;
}
.login_search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_search span {
  padding: 0 20px;
}
.login_search a {
  color: #161616;
  text-decoration: none;
  font-weight: bold;
}

/* SignUp */
.SignUp {
}
.signup_content {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signup_title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.signup_title label span {
  font-weight: lighter;
}
.input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input:focus::placeholder {
  color: transparent;
}
.pw_error {
  color: rgb(255, 25, 25);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
.signup_content button {
  background-color: rgb(114, 184, 108);
  color: rgb(253, 255, 233);

  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  font-size: 14px;
  margin-bottom: 10px;
}
.signup_content .final_btn {
  margin-top: 30px;
  background-color: #161616;
  color: white;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_content button:active {
  box-shadow: none;
}
.signup_content .icon {
  margin-left: 10px;
}
.signup_content select {
  padding: 7px;
}
.signup_content span {
  padding: 0 8px;
}
.signup_content label {
  padding-right: 30px;
}
